<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link" href="#">About</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">My Team</div>
      <ul class="list-group list-group-flush">
        <% @context[:players].each do |player| %>
          <li class="list-group-item"><%= player %></li>
        <% end %>
      </ul>
  </div>
</div>
